{%extends "base.html"%}

{% block start %}

    <a href="contact.html">contact</a>
    
    <a href="about.html">about</a>

    <h1>i am chirag lamba</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus voluptas voluptatum eum voluptatem, fugiat deleniti doloribus saepe, dignissimos exercitationem minima nulla provident magni dolorum quo modi placeat, est delectus?</p>


    <table class="container">
        <tr>
          <th>S.no</th>
          <th>names</th>
          <th>age</th>
          <th>can vote</th>
        </tr>
        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td {% if people.age <= 18 %} style="background:red" {%endif%}>
            {% if people.age >= 18 %}
            👍
            {% else %}
            👎
            {% endif %}
          </td>
        </tr>
        
        {% endfor %}
      
    </table>
{% endblock %}